html, body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--darkColor: rgb(70, 70, 70);
	--darkerColor: rgb(32, 32, 32);

	--discordLighter: #424549;
	--discordLight: #36393e;
	--discordDark: #282b30;
	--discordDarker: #1e2124;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--discordDarker)
}

*::-webkit-scrollbar-thumb {
    background: var(--discordLighter);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--discordLight);
}