.tippyBox {
    width: fit-content;
    padding: 5px;
    height: fit-content;
    border-radius: 5px;
    background: grey;
}

.stat:hover .statName {
    text-decoration: underline;
}

.stat {
    cursor: pointer;
}